<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">EJS Is Fun</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li>
        <a class="nav-link" href="/varExample">Variable Data Example</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/upload">Book Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/uploadMultiple">Multiple Book Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/allBooks">View All Books</a>
      </li>
    </ul>
  </nav>
</div>

